@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap');
.matematica-container{
    width: 70%;
    margin: 2rem 0rem;
    & h3{
        font-family: "Port Lligat Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    & .swiper-home{
        width: 70vw;
        margin-top: 2rem;
        & img{
            width: 24rem;
            height: 24rem;
            object-fit: cover;
        }
    }
    & .card-profe{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding-inline: 1rem;
        & img{
            border-radius: 6px;
        }
        &  .card-profe-info { 
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                background-color: rgba(48, 48, 56, 0.806);
                width: 23rem;
                height: 23rem;
                top: 0.5rem;
                border-radius: 6px;
                opacity: 1;
                transition: all 250ms ease-in-out;
                .profe-valoracion,
                .profe-descripcion{
                    color: white;
                }
                .profe-nombre,
                .profe-clase{
                    color: var(--color-secondary);
                    font-weight: 700;
                }
            }
        &:hover .card-profe-info{
                opacity: 1;
        }
    }
}