.btns-form {
	display: flex;
	align-items: center;
	gap: 1rem;
	& button {
		width: 10.5rem;
		background-color: var(--color-tertiary);
		padding: 0.5rem 1rem;
		cursor: pointer;
		border-radius: 6px;
		box-shadow: 1px 1px 1px #91a7aa;
	}
	& img {
		width: 2rem;
	}
}
