.nav {
  background-color: #f2f3fe;
  color: black;
  display: flex;
  justify-content: space-between;
  //align-items: stretch;
  gap: 2rem;
  padding: 0 5rem;
  height: 5rem;
}

.nav li,
a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.nav li a:hover {
  background-color: #7678ad;
  color: white;
  transition: 0.3s;
  border-radius: 25px;
  height: 70%;
  padding: 1rem;
}

.searchbar {
  border-radius: 20px;
  width: 40%;
  height: 50%;
  align-self: center;
  padding: 1rem;
  text-align: left;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
  .searchbar {
    width: 90%;
  }

  .nav li,
  a {
    font-size: 0.8rem;
    padding: 0;
  }
}
