.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    & h1{
        font-size: 4rem;
    }
    & .signup-form-inputs{
        display: flex; 
        flex-direction: column;
        align-items: flex-start; 
        gap:0.5rem;
    }
    & .form-input{
        position: relative;
    }
    & input{
        background-color:lightgrey; 
        width:25rem;
        padding:1rem; 
    }
    & span{
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        
        & i{
            font-size: 1.5rem;
        }
    }
    & button {
        background-color: lightgrey;
        width: 25rem;
        padding: 0.9rem;
        margin-top: 1.5rem;
        cursor: pointer;
        font-size: var(--font-poppins);
        font-weight: 400;
        font-size: 1.1rem;
        transition: all 250ms ease;
        &:hover {
        background-color: rgb(156, 154, 154)
        }
    }
    
    & .signup-error{
        color: red;
    }
    & .pregunta-signup{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 2rem;
        & a{
            text-decoration: underline;
        }
    }
    & .form-opciones{
        margin-top: 6rem;
    }
}