.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    & h1{
        font-size: 4rem;
    }
    & .signup-form-inputs{
        display: flex; 
        flex-direction: column;
        align-items: flex-start; 
        gap:0.5rem;
    }
    & .form-input{
        position: relative;
    }
    & input{
        border: 2px solid var(--color-cuartiary);
        border-radius: 6px;
        width:22rem;
        padding:1rem; 
    }
    & span{
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        & img{
            width: 2rem;
            margin-top: 0.2rem;
        }
        & i{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--color-cuartiary);
        }
    }
    & .btn-form {
        background-color: var(--color-primary);
        width: 22rem;
        padding: 0.9rem;
        margin-top: 1.5rem;
        color: white;
        cursor: pointer;
        font-size: var(--font-poppins);
        font-weight: 400;
        font-size: 1.1rem;
        transition: all 250ms ease;
        border-radius: 6px;
    }
    
    & .signup-error{
        color: red;
    }
    & .pregunta-signup{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 2rem;
        & a{
            text-decoration: underline;
        }
    }
    & .form-opciones{
        margin-top: 5rem;
        & p{
            margin-bottom: 0.5rem;
        }
    }
}